html{
  font-family: 'ZCOOL XiaoWei', serif !important;
}
.first {
 /*  background-image: url(images/main.jepg);
  background-repeat: no-repeat;
  background-size: cover; */
  /*height:700px;*/
  /* color: white; */
  background-color: #173778;
}

.first h1 {
  color: white;
}

.social li{
  font-size: 17px;
  display: inline-block;
  float:right;
  padding-right: 1%;
}

li a{
  color: white !important;
}

nav{
  margin-top: 6%;
  border-top: 1px solid white;
}

 a h2 {
   color: white;
 }

a:hover {
 text-decoration: none!important;
  }

  .first , .first .pic, .first {
   padding-right: 0px !important;
   padding-left: 0px!important;
  }

footer {
  background-color: #2d2d2d;
  color:white;
  padding: 4%;
}

.espaciado{
  padding-bottom: 3%;
}
